body {
    background-color: #06090f;
    font-family: 'Saira', sans-serif;
    color: #fafafa;
}
.hab1 {
    font-size: 20px;
}
.hab2 {
    font-size: 19px;
}
.hab3 {
    font-size: 18px;
}
.hab4 {
    font-size: 17px;
}
.picture {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
a {
    text-decoration: none;