body {
    background-color: #06090f;
    font-family: 'Saira', sans-serif;
    color: #fafafa;
    padding: 3%;
    }
.hab1 {
    font-size: 20px;
}
.hab2 {
    font-size: 19px;
}
.hab3 {
    font-size: 18px;
}
.hab4 {
    font-size: 17px;
}
.picture {
    border-radius: 50%;
    float: left;
    padding: 5px;
    background-color: darkgrey;

}
a {
    text-decoration: none;
}

.image-conteiner {
    height: 330px;
}
.name {
    text-align: center;
}
.description {
    font-family: monospace;
    position: absolute;
    left: 285px;
}

div {
    border: 2px solid white;
}